name: Playwright Preview tests
on:
    pull_request:
        branches: [main]

env:
    CI: true
    NEXT_PUBLIC_ENV: ${{ secrets.NEXT_PUBLIC_ENV }}
    VERCEL_TOKEN: ${{ secrets.VERCEL_TOKEN }}
    VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }}
    VERCEL_PROJECT_ID: ${{ secrets.VERCEL_PROJECT_ID }}

jobs:
    test:
        timeout-minutes: 10
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v4
            - name: Setup Node.js environment
              uses: actions/setup-node@v4
              with:
                  node-version: 20.11
                  cache: "npm"

            - name: Install dependencies
              run: npm install -D
            - name: Install vercel cli
              run: npm install --global vercel@latest
            - name: Pull Vercel preview environment
              run: vercel env pull --yes .env.ci --environment=preview --git-branch=${{ github.head_ref }} --token=${{ secrets.VERCEL_TOKEN }}
            # - name: Drizzle push to db branch
            #   run: npm run db:push
            - name: Install Playwright Browsers
              run: npm run e2e:install
            - name: Run Playwright tests
              run: npm run e2e:headless
